{% extends 'text/base.html' %}
{% block title %}Login{% endblock %}
{% block body %}
<div class="container" style="background:gray; margin-top:-2%;height:80%">
    <div class="col-sm-6 col-sm-offset-3">
        <h3 style="color:white">Login</h3><br/>
        <form class="form-horizontal" method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'text/form-template.html' %}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-default">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}